{% extends 'base.html' %}
{% load static %}

{% block content %}
    <br>
    <img src="{% static 'images.jpeg' %}" class="profile_image" id ="image">
    <h2> User Profile </h2>
    <p id="username"> Username: {{ user.username }}</p>
    <form method="POST">
        {% csrf_token %}
        <p><label for="id_first_name">First name:</label> <input type="text" name="first_name" maxlength="30" required="" id="id_first_name" value={{ user.first_name }}></p>
        <p><label for="id_last_name">Last name:</label> <input type="text" name="last_name" maxlength="30" required="" id="id_last_name", value={{ user.last_name }}></p>
        <p><label for="id_image">Image:</label> <input type="text" name="image" maxlength="50" id="id_image", value={{user.user_profiles.image}}></p>
        <p><label for="id_birthday">Birthday:</label> <input type="date" name="birthday" id="id_birthday", value={{birthday}}></p>
        <p><label for="id_email">Email:</label> <input type="email" name="email" id="id_email", value={{user.email}}></p>
        <p><label for="id_country">Country:</label> <select name="country" required="" id="id_country" >
            <option value={{ user.user_profiles.country.code }} selected="">{{ user.user_profiles.country.name }}</option>

            {% for choice in form.country.field.queryset %}
                {% if choice.code != user.user_profiles.country.code %}
                    <option value={{ choice.code }}>{{ choice.name }}</option>
                {% endif %}
            {% endfor %}

        </select></p>
        <button style="background-color:ghostwhite; color:blue" class="btn btn-outline-info" type="update">Update</button>
    </form>
{% endblock %}
