{% extends 'base.html' %}

{% block content %}
    <h1 class="font-weight-light" style="text-align: center; margin-bottom: 50px;">All posts</h1>

    <form method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8"><input type="text" name="text" class="form-control" required="" id="id_text" maxlength="200" placeholder="Write your post here..."></div>
            <div class="col-sm-2"><input type="submit" class="btn btn-primary comment" value="Post"></div>
        </div>

    </form>

    {% for post in object_list %}
        <div class="post-bubble">
            <a href="{{ post.id }}" class="h2 post">{{ post.text | truncatechars:64 | linebreaks}}</a>
            <p class="post-author-2">by {{ post.created_by }} on {{ post.created_at }}</p>
        </div>
    {% endfor %}
{% endblock %}
